


h1 {
    text-align: center;
}

h2 {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


.picture1 {

    width: 100px;
    

}

.picture2 {

    width: 100px;
    

}

.picture3 {

    width: 100px;
    

}

.picture4 {

    width: 100px;
    

}